@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de gestion de solicutudes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://i0.wp.com/www.saiasoftware.com/wp-content/uploads/2021/02/viaticos-registro.png?resize=306%2C212&ssl=1"/>
</div>
