@page
@model SISTEMA_GESTION_SOLICITUDES.Pages.Shared.PedidosModel
@{
    ViewData["Title"] = "Pedidos";
}
    <div> class="text-center">
    <h1 class= "display-4"> Lo sentimos el módulo de pedidos se encuentre en mantenimiento!</h1>
    <p>"Ecanea este código para mas información" </p>

    ;img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"
    </div>